body {
	background: white url("images/background.png")repeat;
	color: #8f8f8f;
    font: 12px Tahoma, sans-serif;
    background-color: #f8f8f8;
    border-top: 5px solid #7e7e7e;
    margin: 0;
	}

input[type="text"] {
    background-color: #f3f3f3;
    border: 1px solid #e7e7e7;
    height: 30px;
    color: #000000;
    padding: 0 10px;
    vertical-align: top;
}

#container {
            margin: 10px 50px;
            width: 70%;
            height: 350px;
			/* border: solid 1px black; */
}
#font
{
	font-size: x-large;
	color: #006400;
	font-family: Arial;
}
.b1 {
	width:170px;
	padding: 0px 10px;
    background: #006400;
    color: white; /* Белые буквы */
    font-size: 18pt; /* Размер шрифта в пунктах */
   }

#wrapper {
    max-width: 100%;
    height: 220px;
    margin: auto;
}

#mainmenu{
    position:relative;
    top: 0px;
    margin-bottom: 20px;
    border: 1px solid #222;
    background-color: #111;
    background-image: -moz-linear-gradient(#444, #111);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
    background-image: -webkit-linear-gradient(#444, #111);
    background-image: -o-linear-gradient(#444, #111);
    background-image: -ms-linear-gradient(#444, #111);
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -o-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -ms-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    -webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
    height:50px;
	float:right;
    width:100%;
    z-index:10 /* для отображения подпунктов поверх остальных блоков */
}
#mainmenu ul, /* сбрасываем поля и отступы у списков */
#mainmenu ul ul {
    list-style:none;
    padding:0;
    margin:0;
}
#mainmenu ul {
    clear:left;
    position:relative;
    right:50%;
    height:40px;
    float:right;
    text-align:center;
    font:12px Arial, Helvetica, sans-serif;
    text-transform:uppercase;
}
#mainmenu ul li {
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    -moz-box-shadow: 1px 0 0 #444;
    -o-box-shadow: 1px 0 0 #444;
    -ms-box-shadow: 1px 0 0 #444;
    -webkit-box-shadow: 1px 0 0 #444;
    position:relative;
    left:50%;
    float:left;
    height:40px;
    padding:0;
    margin:0
}
#mainmenu ul li:last-child {
    border:none;
    box-shadow:none
}
#mainmenu ul li a {
    display:block;
    color: #ccc;
    text-decoration: none;
    padding:13px 20px
}
#mainmenu ul li a:hover {
    background-color: #0186BA;
    background-image: -moz-linear-gradient(#04acec,  #0186ba);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
    background-image: -webkit-linear-gradient(#04acec, #0186ba);
    background-image: -o-linear-gradient(#04acec, #0186ba);
    background-image: -ms-linear-gradient(#04acec, #0186ba);
    background-image: linear-gradient(#04acec, #0186ba);
    color: #fafafa
}
#mainmenu ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

/*************************** Выпадающие подпункты */
#mainmenu ul li ul {
    background: #444;
    background: -moz-linear-gradient(#444, #111);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
    background: -webkit-linear-gradient(#444, #111);
    background: -o-linear-gradient(#444, #111);
    background: -ms-linear-gradient(#444, #111);
    background: linear-gradient(#444, #111);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -webkit-border-radius: 3px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    text-transform:none;
    opacity: 0;
    visibility: hidden;
    position:absolute;
    left:0;
    top:40px;
    font-size:12px;
    height:auto;
    width:150px
}
#mainmenu ul li ul li {
    border:none;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -o-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    -ms-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
    position:relative;
    left:0;
    float:none;
    height:auto;
    margin:0;
    text-align:left !important;
}
#mainmenu ul li ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#mainmenu ul li ul li a {
    padding:10px 8px;
    border:none
}

/*************************** Выпадающие пункты второго уровня */
#mainmenu ul li ul li ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -o-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -ms-box-shadow: -1px 0 0 rgba(255,255,255,.3);
    -webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

/*********************** Стрелочки на подпунктах */
#mainmenu ul ul li:first-child > a {
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}
#mainmenu ul ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}
#mainmenu ul ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}
#mainmenu ul ul li:first-child a:hover:after {border-bottom-color: #04acec}

#mainmenu ul ul ul li:first-child a:hover:after {
    border-right-color: #0299d3;
    border-bottom-color: transparent;
}
#mainmenu ul ul li:last-child > a {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

footer {
    background: #7e7e7e;
    color: #dbdbdb;
    font-size: 11px;
}
#footer {
    max-width: 100%;
    margin: auto;
    padding: 10px 0;
    height: 90px;
}
footer h3 {
    font: 15px 'Oswald', sans-serif;
    color: #fff;
    border-bottom: 1px solid #919191;
    margin: 0 0 10px 0;
}
footer a {
    color: #dbdbdb;
}

#sitemap {
    width: 150px;
    float: left;
    margin-left: 20px;
    padding-right: 15px;
}

#sitemap div {
    display: inline-block;
}

#sitemap div + div {
    margin-left: 40px;
}

#sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}

#sitemap a:hover {
    text-decoration: underline;
}
#social {
    float: left;
    margin-left: 20px;
    width: 130px;
}

.social-icon {
    width: 30px;
    height: 30px;
    background: url(images/social.png) no-repeat;
    display: inline-block;
    margin-right: 10px;
}

.social-icon-small  {
    width: 16px;
    height: 16px;
    background: url(images/social-small.png) no-repeat;
    display: inline-block;
    margin: 5px 6px 0 0;
}

.twitter {
    background-position: 0 0;
}

.facebook {
    background-position: -30px 0;
}

.google-plus {
    background-position: -60px 0;
}

.vimeo {
    background-position: 0 0;
}

.youtube {
    background-position: -16px 0;
}

.flickr {
    background-position: -32px 0;
}

.instagram {
    background-position: -48px 0;
}

.rss {
    background-position: -64px 0;
}
#footer-logo {
    margin-top: -10px;
margin-right: 40px;
    font-size: 10px;
    text-align: right;
}
 #container {
            margin: 30px 0px;
            width: 99.5%;
            height: 750px;
}
 #container1 {
     width: 100%;
     min-height: 150px;
     margin-bottom: 30px;
 }
 #container1-1{
     float: left;
     width: 50%;
     margin-left: 1%;
 min-height: 500px;
 }
 #container1-2{
     float: right;
     width: 47%;
     margin-right: 1%;
 min-height: 500px;
 }


 #container2 {
     margin-left: 30px;
     width: 99.5%;
     height: 1100px;
 }
 #leftTab{
			float: left;
            width: 28%;
            height: 750px;
}
#middleContent {
            float: right;
            width: 71.5%;
            height: 750px;
			text-align: center;
			font-size: 18px;
}

.notebook,
.notebook .tabs,
.notebook .pages,
.notebook .page {
 margin: 0;
 padding: 0;
}
.notebook .page1 {
 margin: 28%;
 padding: 28%;
}

.notebook .tabs, .notebook .pages {
 list-style: none;
 overflow: hidden;
}

.notebook .tabs li {
 float: left;
}

.notebook .pages {
    clear: both;
}

.notebook .tabs {
 border-left: 1px solid gray;
}

.notebook .tabs li {
 border-right: 1px solid gray;
 border-top: 1px solid gray;
}

.notebook .pages {
 border: 1px solid gray;
}

.notebook .tabs {
 font-family: Georgia;
 font-size: 16px;
 line-height: 30px;
 height: 30px;
}

.notebook .tabs li {
 background: #eee;
 padding: 0 15px;
 height: 30px;
}

.notebook .tabs a {
 text-decoration: none;
}

.notebook .tabs li:hover {
 background: #ddd;
}

#notebook1 .pages, #notebook1 .page {
 width: 100%;
 height: 750px;
}

#notebook1 .pages {
    color: #ffffff;
    font: 14px Arial Black;
 text-align: center;
 line-height: 20px;
 /* font-size: 15px; */
}

#page1-1 { background: #7e7e7e;}
#page1-2 { background: #7e7e7e;}
#page1-3 { background: #7e7e7e;}
#page1-4 { background: #7e7e7e;}

#notebook2 .pages, #notebook2 .page1 {
 width: 20%;
 height: 850px;
float: right;
}


#notebook3 .pages, #notebook3 .page {
 width: 300px;
 height: 250px;
}

#notebook3, #page2-1 img, #page2-2 img {
 padding: 5px;
}
.notebook .page .page-top-border
{
 margin: 0px;
 padding: 0px;
 border: none;
}

.notebook .page .page-top-border *
{
 height: 2px;
 font-size: 1px;
 line-height: 1px;
 border-top: 1px solid gray;
 float: left;
 margin: 0px;
 padding: 0px;
}

.notebook .page-top-border .page-active
{
 border-top: 1px solid #eee;
}

#notebook4 .pages {
 border-top: none;
}

#notebook4 .pages, #notebook4 .page {
 width: 401px;
 height: 150px;
 box-sizing: border-box;
}

#notebook4 .tabs li,
#notebook4 .page-top-border * {
 width: 100px;
 box-sizing: border-box;
}
